name: Deploy to Staging

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Precheck
      run: script/test
    - name: Deployment
      env:
        DEPLOY_STAGE: staging
        DEPLOY_KEY: ${{ secrets.STAGING_DEPLOY_KEY }}
      run: script/deploy
